@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
}

.marquee p {
    display: inline-block;
    animation: fadeIn 2s forwards;
    /* Hiển thị dần dần */
}